* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(135deg, #040810, #282a32);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    padding: 15px;
}
.container {
    background: #000102;
    width: 100%;
    max-width: 420px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    margin-top: 12px;
    display: block;
}

textarea,
input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 15px;
}


.key-wrapper {
    position: relative;
}

.key-wrapper input {
    padding-right: 40px;
}

.toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #d10d34;
    user-select: none;
}

textarea {
    min-height: 90px;
    resize: vertical;
}

.buttons {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #065982;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background: #0ea5e9;
}
@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    textarea {
        min-height: 80px;
    }

    button {
        font-size: 15px;
        padding: 10px;
    }
}


